    <div class="container">
    
    <h2 class="center-align">Search North Carolina's Colleges</h2>
    <p class="center-align">Sign up to keep track of your favorites!</p>
    
        <form class="col s12">

        <div class="row">
        <label>Degree Type</label>
        <select class="browser-default" id="degree">
            <option value="" disabled selected>Choose One:</option>
            <option value="2">2 Year Degree (Associates)</option>
            <option value="4">4 Year Degree (Bachelors)</option>
        </select>
        </div>
    
        <div class="row">
            <label>Program</label>
            <select class="browser-default" id="program">
                <option value="" disabled selected>Choose One:</option>
                <option value="agriculture">Agriculture, Agriculture Operations, and Related Sciences</option>
        
                <option value="architecture">Architecture and Related Services</option>
                
                <option value="ethnic_cultural_gender">Area, Ethnic, Cultural, Gender, and Group Studies</option>
                
                <option value="biological">Biological and Biomedical Sciences</option>
                
                <option value="business_marketing">Business, Management, Marketing, and Related Support Services</option>
                
                <option value="communication">Communication, Journalism, and Related Programs</option>
                
                <option value="communications_technology">Communications Technologies/Technicians and Support Services</option>
                
                <option value="computer">Computer and Information Sciences and Support Services</option>
                
                <option value="construction">Construction Trades</option>
                
                <option value="education">Education</option>
                
                <option value="engineering">Engineering</option>
                
                <option value="engineering_technology">Engineering Technologies and Engineering-Related Fields</option>
                
                <option value="english">English Language and Literature/Letters</option>
                
                <option value="family_consumer_science">Family and Consumer Sciences/Human Sciences</option>
                
                <option value="language">Foreign Languages, Literatures, and Linguistics</option>
                
                <option value="health">Health Professions and Related Programs</option>
                
                <option value="history">History</option>
                
                <option value="security_law_enforcement">Homeland Security, Law Enforcement, Firefighting and Related Protective Services</option>
                
                <option value="legal">Legal Professions and Studies</option>
                
                <option value="humanities">Liberal Arts and Sciences, General Studies and Humanities</option>
                
                <option value="library">Library Science</option>
                
                <option value="mathematics">Mathematics and Statistics</option>
                
                <option value="mechanic_repair_technology">Mechanic and Repair Technologies/Technicians</option>
                
                <option value="military">Military Technologies and Applied Sciences</option>
                
                <option value="multidiscipline">Multi/Interdisciplinary Studies</option>
                
                <option value="resources">Natural Resources and Conservation</option>
                
                <option value="parks_recreation_fitness">Parks, Recreation, Leisure, and Fitness Studies</option>
                
                <option value="personal_culinary">Personal and Culinary Services</option>
                
                <option value="philosophy_religious">Philosophy and Religious Studies</option>
                
                <option value="physical_science">Physical Sciences</option>
                
                <option value="precision_production">Precision Production</option>
                
                <option value="psychology">Psychology</option>
                
                <option value="public_administration_social_service">Public Administration and Social Service Professions</option>
                
                <option value="science_technology">Science Technologies/Technicians</option>
                
                <option value="social_science">Social Sciences</option>
                
                <option value="theology_religious_vocation">Theology and Religious Vocations</option>
                
                <option value="transportation">Transportation and Materials Moving</option>
                
                <option value="visual_performing">Visual and Performing Arts</option>
    
            </select>
        </div>
    
        <div class="row">
            <div class="input-field col s6">
                <input id="price" type="text" class="validate">
                <label for="price">Maximum Tuition ($)</label>
            </div>
        </div>
        
        <br>
        <div class="row">
            <button class="btn waves-effect waves-light blue" type="submit" name="action" id="submit">Submit
            </button>
        </div>
        <br>
        </form>
        <br>

        <!-- results handlebars -->

        <div class="row" id="results">
            <div class="container">
                <h4>{{#if user}}
                    Hi, {{this.firstname}}, welcome back!                  
                </h4>{{/if}}
            <div class="collection"></div>
                {{#each colleges}}
                    <a href="{{this.URL}}" class="collection-item">
                        {{this.name}}, Average Salary: {{this.salary}}, Average Tuition: {{this.tution}}
                    </a>
                {{/each}}
            </div>
        </div>
        </div>
        
    </div>

    <!-- Stuff that goes in results page -->
    {{!-- <div class="container results-field">
        <div class="collection">
            <a href="#!" class="collection-item">College 1 goes here</a>
            <a href="#!" class="collection-item active">College 2</a>
            <a href="#!" class="collection-item">College 3</a>
            <a href="#!" class="collection-item">College 4</a>
            <a href="#!" class="collection-item">College 5</a>
            <a href="#!" class="collection-item">College 6</a>
            <a href="#!" class="collection-item">College 7</a>
            <a href="#!" class="collection-item">College 8</a>
            <a href="#!" class="collection-item">College 9</a>
            <a href="#!" class="collection-item">College 10</a>
        </div>
    </div> --}}
        

<!-- End Results page -->
        
    </div>

    <script type="text/javascript">

    $(document).ready(function(){
        
        $("#submit").on("click", function(event){
            $('.results-field').show();

            // added event.preventDefault(); to test sending searches to firebase
            // the userInput object and $.post causing errors and breaking page before running firebase code
            //event.preventDefault();

            var userInput = {
                degree_type: $("#degree option:checked").val(),
                city: $("#city option:checked").val(),
                program: $("#program option:checked").val(),
                max_tuition: $("#price").val().trim() 
            };

            var degree_type = $('#degree option:checked').text();
            var program = $('#program option:checked').text();
            var max_tuition = $('#price').val().trim();


            function validateForm() {
            var isValid = true;
            if (degree_type === '' || program === '' || max_tuition === '') {
                // alert user to fill out txt inputs with alert div
                alert('Please complete entire form!');
                isValid = false;
            }
            return isValid;
            }
            if(!validateForm()) {
                return;
            };

            // send user data to firebase
            addSearch(firebase.auth().currentUser.uid, degree_type, program, max_tuition);

            $.get("/api/schools", function(data){
                for(var i = 0; i < data.length; i++) {
                    if(userInput.degree_type == data[i].degree_type && userInput.max_tuition >= data[i].in_state) {
                        console.log(data[i]);
                    }
                }
            })

        })         
   
        // function that adds new user search to firebase
        function addSearch(userId, degree_type, program, max_tuition) {
            searchObject = {
                degree_type: degree_type,
                program: program,
                max_tuition: max_tuition
                };
            firebase.database().ref('users/' + userId).child('searches').push(searchObject);
            console.log(searchObject);
        };

    })
   </script>
