<!-- Stuff that goes in results page -->
    {{!-- <div class="container">
        <h4>{{#if user}}
               Hi, {{this.firstname}}. Welcome back!
            {{/if}}
        </h4>
        <div class="collection"></div>
            {{#each colleges}}
                <a href="{{this.URL}}" class="collection-item">
                    {{this.name}}, Average Salary: {{this.salary}}, Average Tuition: {{this.tution}}
                </a>
            {{/each}}
        </div>
    </div> --}}
        

<!-- End Results page -->

